<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    
    <sectionGroup name="groupBranch">
      <section name="b1" type="System.Configuration.NameValueFileSectionHandler"/>
      <section name="b2" type="System.Configuration.NameValueFileSectionHandler"/>
      <section name="b3" type="System.Configuration.NameValueFileSectionHandler"/>
      <section name="b4" type="System.Configuration.NameValueFileSectionHandler"/>
      <section name="b5" type="System.Configuration.NameValueFileSectionHandler"/>
      <section name="b6" type="System.Configuration.NameValueFileSectionHandler"/>
      <section name="b7" type="System.Configuration.NameValueFileSectionHandler"/>
      <section name="b8" type="System.Configuration.NameValueFileSectionHandler"/>
      <section name="b9" type="System.Configuration.NameValueFileSectionHandler"/>
    </sectionGroup>
    
    <sectionGroup name="groupBranchButtons">
      <section name="bb1" type="System.Configuration.NameValueFileSectionHandler"/>
      <section name="bb2" type="System.Configuration.NameValueFileSectionHandler"/>
      <section name="bb3" type="System.Configuration.NameValueFileSectionHandler"/>
      <section name="bb4" type="System.Configuration.NameValueFileSectionHandler"/>
      <section name="bb5" type="System.Configuration.NameValueFileSectionHandler"/>
      <section name="bb6" type="System.Configuration.NameValueFileSectionHandler"/>
      <section name="bb7" type="System.Configuration.NameValueFileSectionHandler"/>
    </sectionGroup>
    
    <!--<sectionGroup name="groupOpen">
      <section name="o1" type="System.Configuration.NameValueFileSectionHandler"/>
    </sectionGroup>-->
    
  </configSections>

  <groupBranch>
    <b1>
      <add key="Name" value="trunk"/>
      <add key="Path" value="f:\h3d;trunk"/>
    </b1>
    <b2>
    </b2>
    <b3>
    </b3>
    <b4>
    </b4>
    <b5>
      <add key="Name" value="140tw"/>
      <add key="Path" value="g:\huxiangping_G;b\140tw"/>
    </b5>
    <b6>
      <add key="Name" value="1405yugao"/>
      <add key="Path" value="g:\huxiangping_G;b\1405yugao"/>
    </b6>
    <b7>
      <add key="Name" value="1405"/>
      <add key="Path" value="f:\h3d;b\1405"/>
    </b7>
    <b8>
      <add key="Name" value="150"/>
      <add key="Path" value="f:\h3d;b\150"/>
    </b8>
    <b9>
      <add key="Name" value="1505"/>
      <add key="Path" value="f:\h3d;b\1505"/>
    </b9>
  </groupBranch>

  <groupBranchButtons>
    <bb1>
      <add key="Name" value="startServer"/>
      <add key="MatchsrpgOrMr" value="matchsrpgPath"/>
      <add key="Path" value="\server\exe\start_allserver_d.bat"/>
    </bb1>
    <bb2>
      <add key="Name" value="sln"/>
      <add key="MatchsrpgOrMr" value="matchsrpgPath"/>
      <add key="Path" value="\server\src\products\Project_Mobile\H3D_Mobile\H3D_Mobile.sln"/>
    </bb2>
    <bb3>
      <add key="Name" value="serverLogs"/>
      <add key="MatchsrpgOrMr" value="matchsrpgPath"/>
      <add key="Path" value="\server\exe\logs\"/>
    </bb3>
    <bb4>
      <add key="Name" value="config"/>
      <add key="MatchsrpgOrMr" value="matchsrpgPath"/>
      <add key="Path" value="\xls_config\"/>
    </bb4>
    <bb5>
      <add key="Name" value="md5"/>
      <add key="MatchsrpgOrMr" value="matchsrpgPath"/>
      <add key="Path" value="\xls_config\cache\"/>
    </bb5>
    <bb6>
      <add key="Name" value="crossplatform"/>
      <add key="MatchsrpgOrMr" value="mrPath"/>
      <add key="Path" value="\ab\crossplatform\"/>
    </bb6>
    <bb7>
      <add key="Name" value="texture"/>
      <add key="MatchsrpgOrMr" value="mrPath"/>
      <add key="Path" value="\art_src\texture\"/>
    </bb7>
  </groupBranchButtons>

  <!--<groupOpen>
    <o1>
      <add key="Name" value="UI基准"/>
      <add key="Path" value="D:\H3DProj\depot_matchsrpg\mr\art_max\ui1107\jpg"/>
    </o1>
    <o2>
      <add key="Name" value="QA文档"/>
      <add key="Path" value="C:\TxDoc\P152\Attachment"/>
    </o2>
    <o3>
      <add key="Name" value="project"/>
      <add key="Path" value="D:\H3DProj\depot_matchsrpg\mr\art_max\ui1107\jpg"/>
    </o3>
    <o4>
      <add key="Name" value="GM命令"/>
      <add key="Path" value="D:\H3DProj\depot_matchsrpg\mr\art_max\ui1107\jpg"/>
    </o4>
  </groupOpen>-->

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>
    <add key="depot_matchsrpgPath" value="\depot_matchsrpg\" />
    <add key="matchsrpgPath" value="matchsrpg\" />
    <add key="mrPath" value="mr\" />
  </appSettings>
  
</configuration>